
<DSL Version='1.12'>
    <Project>
        <Name>DemoTimerLib.MSModel</Name>
        <Version>01.00.04</Version>
        <Prefix>Siemens.Mom.Presales.Training</Prefix>
        <Domain>MasterData</Domain>
        <DomainAcronym>MS</DomainAcronym>
        <Guid>1c66aeb6-915e-4d24-93c8-ed43f362248e</Guid>
		<ProjectKind>Library</ProjectKind>
    </Project>
    <References>
    </References>
</DSL>